body {
  background: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  fill: #575757;
  max-width: 1600px;
  margin: auto;
}


h1 {
  width: 100%;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 1.75rem;
  font-weight: 700;
  color: #04629a;

  margin-left: 1%;
  /*padding-left: 5%;*/
  padding-top: 14px;
  padding-bottom: 0px;
}

h2 {
  width: 100%;
  display: inline-block;
  font-family: 'Oswald', sans-serif;
  font-size: 1.15rem;
  font-weight: 400;
  color: #7A7A7A;
  margin: 0px;
  /*padding-left: 5%;*/
  padding-top: 5px;
  padding-bottom: 0px;
}

#intro {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #575757;
  margin-left: 1%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#actionList{
  position:absolute;
  display: none; 
  background:rgba(255,255,255,1);
  box-shadow: 0 3px 5px rgba(97, 97, 97, 0.5); 
  padding:10px;
  z-index:50;
max-width:600px;
  font-family: "Noto Sans Display", sans-serif;
  font-size: 0.9em;
  font-weight: 300;
  color: #575757;
}

.actionListCat{
  text-align: center;

}
#highlightActions{
cursor: pointer ;
}

.underline {
  position: relative;
  z-index: 0;
}

.underline::after {
  content: "";
  z-index: -1;
  position: absolute;
  right: 3px;
  left: 3px;
  /*top: 0.62em;*/
  display: inline-block;
  min-width: 100%;
  height: 0.3428571429em;
  margin-top: 14px;
  background: #ffc20e;
}


#TaxationTitle {
 font-weight:900;
  color: #00A8CB;
}

#RegulationTitle {
 font-weight:900;
  color: #ED4E70;
}

#SpendingTitle {
 font-weight:900;
  color: #0BB89C;
}

#UrbanPlanningTitle {
 font-weight:900;
  color: #FFC20E;
}


#tool {
  margin-left: 1%;
}


.flex-container {
  position: relative;

  display: flex;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.flex-container>div {
  align-content: space-between;
  width: 40%;
  margin: 0% 0%;
  text-align: left;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  float: left;
  /* position: relative;*/
  width: 140px;
  height: 40px;
  margin: 5px 5px 15px 5px;
  padding: 10px 10px 10px 10px;
  background: #e6ebe9;
  border: none;
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #0b1e2d;
}

.textbtn {
  font-size: 0.95rem;
  font-family: "Noto Sans Display", sans-serif;
  margin: auto;
}

#launchButton {

  background-color: #04629a;
  color: #ffffff;

}

#Taxation {

  background: #00A8CB;
}

#Regulation {

  background: #ED4E70;
}

#Spending {

  background: #0BB89C;
}

#UrbanPlanning {

  background: #FFC20E;
}


#resetButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  float: left;
  /* position: relative;*/
  width: 70px;
  height: 30px;
  margin: 5px 5px 15px 5px;
  padding: 5px 5px 5px 5px;
  background: #b7b7b7;
  border-radius: 5px;
  ;
  border: none;
  -webkit-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;

}

#selectorButtonsMain {
  visibility: hidden;
}

#selectorButtons {
  visibility: visibile;
}


#helpIcon {
  position: absolute;
  top: 2.5%;
  left: 5%;
 visibility: visible;
}

#helplink {
  width:7.5%;
  height:7.5%;
/*  display: */
}

#helpIndic{
  position: absolute;
  top: 3%;
  left: 8%;
  visibility: hidden;
}

#legendPic{
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3); 
    width:25%;
    height:auto;
}


div.tooltip {

  position: absolute;
  top: 1%;
  left: 2%;
  background:rgba(255,255,255,0.9);
  box-shadow: 0 3px 5px rgba(97, 97, 97, 0.3); 
  margin-bottom:30px;

  position: absolute;
  width: auto;
  height: auto;
  max-width: 40%;
  margin-top: -1.25em;
  padding: 0.5em 0.5em;
  font-family: 'Noto Sans', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
  pointer-events: none;
  /*transform: translate(-50%, 0%);*/

  z-index: 22;
}

.flex-container-viz {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
}


.flex-container-viz>.flex-container-viz-item {
  flex: 1 100%;
}

/* Large screens */
@media only screen and (min-width: 940px) {

  /* We invert order of first sidebar and main
   * And tell the main element to take twice as much width as the other two sidebars 
   */
  /*.main { flex: 2 0px; }*/
  #info {
    flex: 2;
    order: 2;
  }

  #chart {
    flex: 1;
    order: 1;
  z-index: 15;
  }
}
.circleWellbeingobjective {
  cursor: pointer;
}

.circleindicator {
  cursor: cursor;
  /*not-allowed;*/
}

.circleLevel2indicator {
  cursor: not-allowed;
}

 #info {
    flex: 2;
    order: 2;
  }

#chart {
    flex: 1;
    order: 1;
  flex-basis: auto;
  width: 100%;
  max-width: 1200px;
  margin:auto;
  background-color: #ffffff;
  z-index: 15;
}

 span.circle {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        line-height: 20px;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        width: 20px;
  border: solid #0B1E2D;
  border-width: 1px;
  font-size:12px;
      }


 span.circleObj {
        border-radius: 50%;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        color: #ffffff;
        display: inline-block;
        font-weight: bold;
        line-height: 30px;
        margin-right: 5px;
        margin-left: 5px;
        margin-top: 5px;
        margin-bottom: 5px;
        text-align: center;
        width: 30px;
  border: solid #0B1E2D;
  border-width: 2px;
  font-size:12px;
   background: #39617D;
      }

      .imgIcon{
width:25px;
height:20px;
transform:translate(0%,25%);
      }

#taxationCircle {

  background: #00A8CB;
}

#regulationCircle {

  background: #ED4E70;
}

#spendingCircle {

  background: #0BB89C;
}

#urbanPlanningCircle {

  background: #FFC20E;
}


#intro {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #575757;
  margin-left: 1%;
  margin-top: 10px;
  margin-bottom: 10px;
}

#conceptInfo{
  position: absolute;
  top: 10%;
  left: 0.5%;
  visibility: hidden;
  background:rgba(255,255,255,0.9);
  box-shadow: 0 3px 5px rgba(97, 97, 97, 0.3); 
  max-width:500px;
  margin-bottom:30px;
}

#levertitle {
  font-family: "Oswald", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  color: #575757;

  margin: 10px;
}

#lever {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #575757;

  margin: 10px;
}

#conceptLinkimage {
  float:right;
  vertical-align:middle;
  padding: 7px 7px;
  width:5%;
  height:5%;
}

#conceptLinkhtml {
  cursor: pointer;
}

div.hr-line {
  position: relative;
  display: inline-block;
  margin-left: 15%;
  /*margin-right: 30%;*/
  width: 70%;
  border-bottom: 1px solid #7A7A7A;
}

#titleWBobj {
  font-family: "Oswald", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  color: #575757;

  margin-top: 10px;
  margin-bottom: 10px;
}

#WBobjxLever {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #575757;

  margin-top: 10px;
  margin-bottom: 10px;
}

.box {
  display: inline-block;
  width: 25px;
  height: 5px;
  border: solid 2px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 50%/5px 5px 0 0;
}

.positive {
  border: solid 2px #27B499;
  border-color: #27B499 transparent transparent transparent;
}

.negative {
  border: solid 2px #c12b4f;
  border-color: #c12b4f transparent transparent transparent;
}

.positivehighlight {
  color: #27B499;
  font-weight: 900;
}

.negativehighlight { 
  color: #c12b4f;
  font-weight: 900;
}

#narrative {
  font-family: "Noto Sans Display", sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  color: #575757;
  margin-left: 5%;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.annotation {
  position: absolute;
  top: 5%;
  left: 5%;
  width: auto;
  height: auto;
  max-width: 75%;
  margin-top: -1.25em;
  padding: 0.5em 0.5em;
  font-family: "Noto Sans Display", sans-serif;
  /*white-space: nowrap;*/
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.2;
  color: #575757;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  pointer-events: none;
  /*transform: translate(-5%,-5%);*/

  z-index: 20;
}


#source {
  display: inline-block;
  margin-left: 5%;
  margin-right: 5px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 200;
  font-size: 1.rem;
  /*text-decoration: underline;
  
  color: #04629a;*/
  color: #575757;

}

#OECDLogo {
  float: right;
  height: 30px;
  margin: 5px;
}

